<openbox_menu>

<menu id="quick-menu">
  <!-- Make client-list-combined-menu a submenu of root-menu 
       You must supply a label or it will not appear in root-menu -->
  <!--
  <menu id="client-list-combined-menu" label="Running..." />
  -->

  <separator label="Quick" />

  <item label="Terminal">
    <action name="Execute" command="foot" />
  </item>
  <item label="File Browser">
    <action name="Execute" command="Thunar" />
  </item>
  <item label="Web Browser">
    <action name="Execute" command="firefox" />
  </item>
  <item label="Email">
    <action name="Execute" command="thunderbird" />
  </item>
  <item label="VSCode">
    <action name="Execute" command="code" />
  </item>

  <separator/>

  <item label="Lock Screen">
    <action name="Execute" command="swaylock" />
  </item>

</menu>

<menu id="right-menu">
  <!--
    Creates menu title.
    To create an empty header with no text,
    set label=" ", not label=""
  -->
  <separator label="Full" />

  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>

  <separator/>

  <!-- Pipemenu -->
  <menu id="" label="Application" execute="labwc-menu-generator -p"/>

  <separator/>

  <item label="Logout">
    <action name="Exit" />
  </item>


  <separator/>

  <item label="Reboot">
    <action name="Execute" command="systemctl -i reboot" />
  </item>
  <item label="Poweroff">
    <action name="Execute" command="systemctl -i poweroff" />
  </item>
</menu>

</openbox_menu>
